@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased font-sans select-none overflow-hidden h-screen w-screen;
  }
}

/* Custom scrollbar styling for monospace log console */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #262626;
}

::-webkit-scrollbar-thumb {
  background: #404040;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
